<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #gender{
            color:green;
        }

    </style>
    <meta charset="UTF-8">
    <title>gallery</title>

</head>

<table border="1" width ="100%" height="100px">

</table>
            </td>
            <td width="80%" valign="top">

                <table width="100%"  border="1" >


    <h2>form</h2>

    <form method="post" enctype="multipart/form-data">
    <label for="book">Book Title:</label><br>
    <input type="text" id="book" name="book"><br>





        <label for="tgl_lahir">written year:</label><br>
    <input type="text" id="tgl_lahir" name="tgl_lahir" value="(yyyy-mm-hh)"><br>

        <label for="author">author:</label><br>
    <input type="text" id="author" name="author"><br>

        <label for="genre">genre:</label><br>
    <input type="text" id="genre" name="genre"><br>

        <h2>Upload cover buku</h2>
        <label for="fileSelect">Filename:</label>
        <input type="file" name="photo" id="fileSelect">

        <p><strong>Note:</strong> Only .jpg, .jpeg, .gif, .png formats allowed to a max size of 5 MB.</p><br>

        </select>


      <input type="submit" value="Submit">





</form>
                </table>
            </td>
                </body>
</html>







